
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: thistle;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}


section ul ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

section ul ul li {
    margin-left: 20px;
}

section ul ul li::before {
    content: "▹";
    margin-right: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
